@layer base {
  * {
    border-color: var(--surface-border);
  }

  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    @apply font-sans antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    @apply min-h-screen;
  }
}